.track {
  flex: 1;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  overflow: hidden;
}

.fill {
  width: 0;
  height: 100%;

  background-color: var(--raw-neutral-01);
  border-radius: 100px;
}

.active {
  animation: fillProgress 10s linear forwards;
}

.completed {
  width: 100%;
}

@keyframes fillProgress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}